
@model Student

<h2>Add New Student</h2>

@if(ViewBag.Messege != null && ViewBag.Messege!= "")
{
<h1 class=" alert alert-warning"><span class="glyphicon glyphicon-ok-sign">@ViewBag.Messege</span></h1>
}
<form method="post">
    <label>Name:</label>
    <input type="text" name="Name" placeholder="Name" class="form form-control" />
    
    <label>Dept:</label>
    <input type="text" name="Dept" placeholder="Dept" class="form form-control" />
    
    <label>Email:</label>
    <input type="email" name="Email" class="form form-control" placeholder="Email" />
    
    <label>Address:</label>
    <input type="text" name="Address" class="form form-control" placeholder="Address" />
   
    <label>ContractNo:</label>
    <input type="text" name="Contact No" class="form form-control" placeholder="Contact No" /><br />

    <input type="submit" value="Add Details" />
</form>
